body{
	background-image: url(/images/custo.jpg);
	text-align: center;
	color: olivedrab;
	background-size: 100vw 100vh;
}
.navbar{
	width: 100%;
	margin:auto;
	display: flex;
	align-items:center;
	justify-content: space-between;
	background-color:none;
	padding-left:50px;
	padding-right:50px;
}

.navbar ul li{
	list-style:none;
	display: inline-block;
	margin:0 20px;
	position: relative;
}
.navbar ul li a {
	text-decoration: none;
	color:black;
	text-transform: uppercase;
	font-weight: bold;
}
.navbar ul li::after{
	content: '';
	height: 3px;
	width: 0%;
	background: olivedrab;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
	
}

.image{
	width: 200px;
	cursor: pointer;
	float:center;
}
.navbar ul li:hover::after{
	
	width: 100%;
	
}