<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Registration</title>
<link rel="stylesheet" th:href="@{/css/customer_signin.css}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar">
		<img src="/images/logo2.png" class="image">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Contact Us</a></li>
			
		</ul>
	</nav>
	<div class="container m-5">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="container">
						<div class="card-header text-center fs-3">Login</div>

						<div th:if="${param.error}" class="alert alert-danger">
							Invalid username & Password</div>

						<div th:if="${param.logout}" class="alert alert-success">
							Logout Sucessfully</div>

						<div class="container">
							<form action="/login" method="post">
								<div class="container">
									<label>Enter Email</label> <input type="text" name="username"  id="inputEmail3"
										class="form-control">
								</div>
								<div class="container">
									<label>Enter Password</label> <input type="text"
										name="password" class="form-control">
								</div>
								<br/>
								<button class="btn btn-primary col-md-2-f4">Login</button>
								<br/>
								<br/>
								<div>
									<label>New user?</label>
									<a href="customer_register">Register</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

		</div>
		
</body>
</html>